body, html 
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    overflow: hidden;
    
    font-family: "Open Sans";
}

/*HI-------------------------------------------*/

section
{
    background-color: #23281A;
    max-height: 100vh;
    overflow-y: hidden;
}

#section-hi 
{
    background-color: #FFCC33;
    text-transform: uppercase;
}

#section-hi #main-text
{
    height: 100%;
    width: 100%;
}

#section-hi #hi-container
{
    position: absolute;

    /*width: 50%;
    margin-left: 25%;*/
}

#hi-container
{
    height: inherit;
    width: inherit;
}

#hi-there,
#who-img,
#what-img
{
    position: absolute;

    height: 50%;
    /*width: 100%;*/

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 50%;
    margin-left: 25%;
}

#hi-there
{
    z-index: 100;
    background-image: url("../imgs/landing_page/base_text.svg");
}

#who-img
{
    z-index: 1;
    background-image: url("../imgs/landing_page/noah.svg");
}

#what-img
{
    background-image: url("../imgs/landing_page/things.svg");
}

#who-click,
#what-click
{
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    z-index: 500;
}

#who-click
{
    margin-left: 43%;
    margin-top: 1.5vw;
    
    width: 32.5%;
    height: 8.8vw;
}

#what-click
{
    margin-left: 54.8%;
    margin-top: -0.5vw;
    
    width: 10%;
    height: 3vw;
}

#landing-page-canvas
{
    position: absolute;
    margin-left: -50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#scroll-icon
{
    position: absolute;
    z-index: 100;
    width: 5vw;
    height: 5vw;
    max-width: 65px;
    bottom: 7.5vh;
    margin-left: -2.5vw;
}

/*WHAT-----------------------------------------*/

.device-container
{
    position: absolute;

    height: 82vh;

}

.device-container.tablet
{
    width: 38vw;
    margin-left: 10vw;
}

.device-container.laptop
{
    width: 48vw;
    margin-left: 6vw;
}

.device-img
{
    position: absolute;
    width: inherit;
    height: inherit;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    z-index: 50;
}

.tablet .device-img
{
    background-image: url("../imgs/work/tablet.svg");
}

.laptop .device-img
{
    background-image: url("../imgs/work/laptop.svg");
}

.device-bg
{
    position: absolute;
    z-index: -10;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.tablet .device-bg
{
    width: 38vw;
    height: 82vh;
}

.device-bg.tablet-bg
{
    background-image: url("../imgs/work/tablet_bg.png");
}

.laptop .device-bg
{
    width: 48vw;
    height: 82vh;
}

.device-bg.laptop-bg
{
    background-image: url("../imgs/work/laptop_bg.png");
}

.slide-img
{
    position: absolute;

    z-index: -1;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    opacity: 0;
}

.tablet .slide-img
{
    width: 38vw;
    height: 82vh;
}

.laptop .slide-img
{
    width: 48vw;
    height: 82vh;
}

.scroll-trigger
{
    position: absolute;
    width: inherit;
    height: inherit;

    background-color: transparent;
    opacity: 0.2;
    z-index: 100;
}

#topforms-imgs .slide-img:nth-child(1)
{
    background-image: url("../imgs/work/topforms/topforms_1.png");
    opacity: 1;
}

#topforms-imgs .slide-img:nth-child(2)
{
    background-image: url("../imgs/work/topforms/topforms_2.png");
}

#topforms-imgs .slide-img:nth-child(3)
{
    background-image: url("../imgs/work/topforms/topforms_3.png");
}

#topforms-imgs .slide-img:nth-child(4)
{
    background-image: url("../imgs/work/topforms/topforms_4.png");
}

#topforms-imgs .slide-img:nth-child(5)
{
    background-image: url("../imgs/work/topforms/topforms_5.png");
}

#topforms-imgs .slide-img:nth-child(6)
{
    background-image: url("../imgs/work/topforms/topforms_6.png");
}

#parsafix-imgs .slide-img:nth-child(1)
{
    background-image: url("../imgs/work/parsafix/parsafix_1.png");
    opacity: 1;
}

#parsafix-imgs .slide-img:nth-child(2)
{
    background-image: url("../imgs/work/parsafix/parsafix_2.png");
}

#parsafix-imgs .slide-img:nth-child(3)
{
    background-image: url("../imgs/work/parsafix/parsafix_3.png");
}

#klantenhuis-imgs .slide-img:nth-child(1)
{
    background-image: url("../imgs/work/klantenhuis/klantenhuis_1.png");
    opacity: 1;
}

#klantenhuis-imgs .slide-img:nth-child(2)
{
    background-image: url("../imgs/work/klantenhuis/klantenhuis_2.png");
}

#klantenhuis-imgs .slide-img:nth-child(3)
{
    background-image: url("../imgs/work/klantenhuis/klantenhuis_3.png");
}

#ggzopweg-imgs .slide-img
{
    background-size: 100% auto;
    background-position: 0% 25vh;
}

#ggzopweg-imgs .slide-img:nth-child(1)
{
    background-image: url("../imgs/work/ggzopweg/ggzopweg_1.png");
    opacity: 1;
}

#ggzopweg-imgs .slide-img:nth-child(2)
{
    background-image: url("../imgs/work/ggzopweg/ggzopweg_2.png");
}

#ggzopweg-imgs .slide-img:nth-child(3)
{
    background-image: url("../imgs/work/ggzopweg/ggzopweg_3.png");
}

#ggzopweg-imgs .slide-img:nth-child(4)
{
    background-image: url("../imgs/work/ggzopweg/ggzopweg_4.png");
}

.work-arrows-container
{
    position: absolute;
    z-index: 60;
    width: 38vw;
    height: 82vh;
}

.tablet .work-arrows-container
{
    
}

.laptop .work-arrows-container
{
    width: 100%;
    /*margin-left: -8%;*/
}

.back-arrow,
.forward-arrow
{
    position: absolute;
    width: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    top: 0px;
    transform: translateY(0px);
}

.tablet .back-arrow,
.tablet .forward-arrow
{
    height: 4.5vh;
    width: calc(0.483 * 4.5vh);
    margin-top: 75.2vh;
}

.laptop .back-arrow,
.laptop .forward-arrow
{
    height: 2.9vh;
    width: calc(0.483 * 2.9vh);
    margin-top: 57vh;
}

.back-arrow
{
    background-image: url("../imgs/work/back_arrow.svg");
    margin-left: -24px;
    opacity: 0.3;
    margin-left: calc(45% - (0.483 * 2.9vh)/2);
}

.forward-arrow
{
    background-image: url("../imgs/work/forward_arrow.svg");
    margin-left: 24px;
    margin-left: calc(55% - (0.483 * 2.9vh)/2);
    cursor: pointer;
}

.work-text-container
{
    top: calc(50% - 18vw);
    color: #fafafa;
    text-align: left !important;
    
    transform: translateY(0px);
}

.tablet-text
{
    width: 40vw;
    margin-left: 50vw;
}

.laptop-text
{
    width: 38vw;
    margin-left: 55vw;
}

.work-text-container div
{
    text-align: left;
    top: 0px !important;
    transform: translateY(0vh) !important;
}

.work-title
{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
}

.work-text
{
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: justify !important;
}

.work-text a
{
    color: white;
    text-decoration: underline;
}

.made-with-title
{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -1px;
}

.made-with-text
{
    font-style: italic;
}

/*TOPforms-------------------------------------*/

#section-topforms
{
    background-color: #167672;
}

/*Parsafix-------------------------------------*/

#section-parsafix
{
    background-color: #C12024;
}

/*Klantenhuis----------------------------------*/

#section-klantenhuis
{
    background-color: #324465;
}

/*GGZ Opweg------------------------------------*/

#section-ggzopweg
{
    background-color: #fafafa;
}

#section-ggzopweg .work-text-container
{
    color: #5199FF !important;
}

/*Jam------------------------------------------*/

#section-jam
{
    background-color: #324465;
}

/*HOW------------------------------------------*/

#section-how
{
    background-color: #333333;
    color: #FAFAFA;
}

#how-container
{
    height: 100vh;
}

#coding-design
{
    font-size: 24px;
    line-height: 32px;
    position: absolute;
    padding-top: calc(14.5vh - 35px);
    top: 13vh;
    height: 27vh;
    width: 100vw;
}

#code-container
{
    background-color: #282828;
    width: 100vw;
    height: 46vh;
    top: 27vh;
    font-family: Consolas;
    font-weight: 300;
    color: #FAFAFA;
    position: absolute;
    transform: translateY(0px);
}

#code
{
    font-size: 18px;
    color: white;
    max-width: 45vw;
    max-height: 46vh;
    margin-left: 27.5vw;
}

#code div
{
    transform: translateY(0%) !important;
    text-align: left !important;
}

#code-title
{
    
}

#skills
{
    border-left: 1px solid #fafafa81;
    padding: 15px 0px;
    padding-left: 30px;
    margin: 5px auto;
}

#skills .skill
{
    display: inline-block;
    padding-left: 5px;

}

.skill-languages
{
    color: #9CDCFE !important;
}

.skill-other
{
    color: #BB86C0 !important;
}

.skill-design
{
    color: #D77840 !important;
}

.comma,
.var,
#var-name,
#cursor,
.highlight
{
    display: inline !important;
}

.highlight
{
    color: #FFCC33;
    font-size: inherit;
}

#cursor
{
    margin-left: -3px;
    margin-right: -4px;
    animation: blink 1s infinite;
}

@keyframes blink
{
    0% {opacity: 1;}
    50% {opacity: 1;}
    51% {opacity: 0;}
    100% {opacity: 0;}
}

.var
{
    color: #3E98E1 !important;
}

#var-name
{
    color: #DCDC9D !important;
}

.comma
{
    color: #FAFAFA !important;
}

#skill-note
{
    width: 100vw;
    height: 27vh;
    top: 73vh;
    position: absolute;
    transform: translateY(0px);
}

#favorite-tech
{
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    top: 42%;
}

#quick-learner
{
    font-size: 24px;
    top: 42%;
}

/*WHO------------------------------------------*/

#section-who
{
    background-color: #FAFAFA;
}

#who-container
{
    width: 100%;
    height: 100%;
}

#about,
#photo
{
    position: absolute;
    background-repeat: no-repeat;

    background-size: auto 76vh;
    background-position: 38% 50%;

    width:  100%;
    height: 100%;
} 

#about-text
{
    
}

#about-text div
{
    max-width: 50vw;
    text-align: left;
    word-wrap: break-word;
    margin-left: 20%;
    display: block;
    top: auto !important;
    transform: none !important;
}

#about .header
{
    font-weight: 700;
    
    font-size: 3vw;
    letter-spacing: -0.1vw;
    
    line-height: 120%;

    margin-bottom: 2vh;
}

@media screen and (min-width: 1085px) 
{
    #about .header {
       font-size: 37px;
    }
    #about-text div
    {
        max-width: 50vw;
    }
}

#about .main-text div
{
    
}

#about ul
{
    margin-top: 2vh;
    list-style-type: '-';
    padding-left: 20px;
    margin-bottom: 50px;
}

#about li
{
    padding-left: 1vh;
}

.item,
.item div
{
    margin-left: 10px !important;
}

.year
{
    display: inline-block !important;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    width: 80px;
    position: absolute;
    margin-top: 4px;
    padding-right: 15px;
    text-align: right !important;
}

.item .item-text
{
    padding-left: 80px !important;
    display: inline-block !important;
    width: calc(100% - 80px);
}

#coffee-title
{
    font-weight: 700;
    
    font-size: 30px;
    letter-spacing: -0.1vw;
    
    line-height: 120%;

    margin-bottom: 1vh;
    margin-left: 0px !important;
}

#coffee-mail,
#coffee-linkedin
{
    color: #212529;
}

#coffee-mail
{
    margin-left: 35px;
    font-weight: 300;
}

#coffee-linkedin
{
    background-color: #212529;
    color: #FAFAFA;
    text-decoration: none;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
    border-radius: 20px;
    margin-left: 20px;
    padding: 8px 20px;
}

#photo
{
    padding-top: calc(100vh - 38vw);
    padding-left: 57vw;

    background-image: url("../imgs/about_me/photo.png");
    background-size: 38vw 38vw;
    background-position: 100% 100%;
}

@media screen and (max-width: 1300px) 
{
    #photo
    {     
        background-position: 105% 100%;
    }
}

/*---------------------------------------------*/

section div 
{
    font-style: normal;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

span
{
    font-size: 4em;
    font-style: normal;
    color: #fff;
}